/* header css start */
header {
  background-color: rgb(9, 63, 77);
  padding: 0.5em 0.5em 0.5em;
}
ul {
  display: flex;
  list-style-type: none;
  color: white;
  align-items: center;
}
span {
  font-weight: 50px;
  font-size: 25px;
  margin-right: 800px;
}

li {
  float: right;
  margin-right: 40px;
}

/* header css end */

/* main css start */

main {
  margin-top: 1px;
}

/* 1st row css start */

.img-res2 {
  position: relative;
  top: -2%;
  bottom: 16%;
  left: 25%;
}
.img-res3 {
  position: relative;
  bottom: 63%;
  left: 63%;
}
.btn {
  color: aliceblue;
  margin-top: 40px;
  margin-left: 40px;
  background-color: rgb(221, 55, 83);
}

/* 1st row css end */

.badges {
  display: flex;
}
.bg-warning {
  position: relative;
  right: 380%;
}

.recipe1_totalReview,
.recipe2_totalReview,
.recipe3_totalReview,
.recipe4_totalReview,
.recipe5_totalReview,
.recipe6_totalReview {
  color: black;
}

.fa {
  color: coral;
}
.content2Right {
  background-color: rgb(255, 243, 235);
}

/* Start CSS for Sliding the recipe */

.slideshow-container {
  position: relative;
  margin: auto;
}

/* for hiding all recipe */
.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* putting forward button on right side */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover adding black background*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* End CSS for Sliding the recipe */

/* main css end */

footer {
  background-color: rgb(43, 42, 40);
  color: white;
  height: 40px;
  margin-top: 5px;
}
